/*reset*/

html{-webkit-text-size-adjust:none;}
body{font-weight:normal;color:#333;text-align:center;margin:0px;padding:0px;background:#fff;position:relative;}
body, button, input, select, textarea{font-size:14px;line-height:150%;font-family:"Microsoft YaHei", 微软雅黑, Tahoma,Arial,sans-serif;}
div,ol,ul,li,dir{text-align:left;margin:0px;padding:0px;border:0px;list-style-type:none;}
form,img,span,h1,h2,h3,h4,h5{margin:0px;padding:0px;border:0px;}
table,td,th,p,dl,dt,dd,pre{margin:0px;padding:0px;}
img,input{vertical-align:middle;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/*style*/
html, body {
        position: relative;
        height: 100%;
    }
body {
  font-family: "Microsoft YaHei", 微软雅黑, Tahoma,Arial,sans-serif;
  background:#F6F7D7;
  font-size: 40px;
  font-weight: bolder;
  height: 100%;
}
.randomBlock{
  text-align: center;
  margin-top: -30%;
}
.randomBlock .emoji{
  width: 60%;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
.randomBlock .title{
  font-size: 30px;
}
.randomBlock .randFood{
  display: none;
  padding: 5px;
  color: #f17d24;
  background: rgba(255,255,210,.8);
  margin:0 auto;
  width: 65%;
}
.randomBlock .randFood
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.randomBlock .randFood:before, .randomBlock .randFood:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.randomBlock .randFood:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.opertaionBlock{
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
}
.pressBtn {
  min-width: 100px;
  margin:40px auto;
  display:block;
  height:70px;
  font-size:20px;
  border:0;
   background: rgba(0, 0, 0, 0) linear-gradient(135deg, #f05327 0%, #f17d24 100%) repeat scroll 0 0;
  color:#fff;
  padding:5px 20px;
  border-bottom:4px solid #f05327;
  box-shadow:0px 3px 10px #000;
}
.pressBtn:active{
  border-bottom:none;
  cursor:pointer;
  box-shadow:0px 2px 4px #000;
}

/*swiper start*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
  height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiperBtnNext{
  position: relative;
  bottom: 10%;
  width: 100%;
  height: 60px;
}
.swiperBtnNext .arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.swiperBtnNext .arrow-1 {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.swiperBtnNext .arrow-2 {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
  top: 60%;
}

.swiperBtnNext .arrow:before,
.swiperBtnNext .arrow:after {
  background: #000;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.swiperBtnNext .arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.swiperBtnNext .arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*swiper end*/
/*chat*/

.chatBlock {
  margin: 0 auto;
  width: 85%;
  font-size: 15px;
  margin-top: -25%;
  position: relative;
  
}
.chatBlock p {
  margin: 0 0 .7em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  clear: both;
  position: relative;
  line-height: 1.5;

}
.chatBlock p img{
  width: 80%;
}
.chatBlock p.them {
  float: left;
}
.chatBlock p.them:after {
  content: "";
  position: absolute;
  left: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #e5e5ea;
  border-bottom-right-radius: 1em 0.5em;
}
.chatBlock p.me {
  float: right;
  background-color: #1289fe;
  color: white;
}
.chatBlock p.me:after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}
.delay1{
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
     animation-delay: 1s;
}
.delay2{
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
     animation-delay: 2s;
}
.delay3{
  -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
     animation-delay: 3s;
}
.delay4{
  -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
     animation-delay: 4s;
}
.delay5{
  -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
     animation-delay: 5s;
}
.delay6{
  -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
     animation-delay: 6s;
}
.delay7{
  -webkit-animation-delay: 7s; /* Chrome, Safari, Opera */
     animation-delay: 7s;
}
.delay8{
  -webkit-animation-delay: 8s; /* Chrome, Safari, Opera */
     animation-delay: 8s;
}
.actionBtn
{
  position: absolute;
  bottom: 5%;
  left: 50%;
  padding: 10px 10px;
  margin: 0px 10px 10px 0px;
  margin-left: -15%;
  float: left;
  border-radius: 8px;
  font-size: 23px;
  color: #FFF;
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
  line-height: 1;
}
.actionBtn:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*chat end*/
/*food rain canvas*/
#foodRainCanvas{
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.info{
  font-size: 1em;
  text-align: center;
}
.info .author{
  font-size: 0.6em;
  margin-bottom: 10px;
}
.info .author a{
  color: #f05327;
}
/*food rain canvas end*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*// animate*/

